<!doctype html>
<html>
  <head>
  </head>
  
  <body>

    <form method="post" action="/people"> 
      <p><input type="text" name="person[firstname]" placeholder="first name"></p>
      <p><input type="text" name="person[lastname]" placeholder="last name"></p>
      <p><input type="submit" ></p>

    </form>
  </body>
</html>